<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Auction System</title>
</head>
<body>

<nav style="background:#333; padding:12px; text-align:center;">

<a href="/" style="color:white; margin:10px; text-decoration:none;">Home</a>

<a href="/register" style="color:white; margin:10px; text-decoration:none;">Register</a>

<a href="/login" style="color:white; margin:10px; text-decoration:none;">Login</a>

<a href="/dashboard" style="color:white; margin:10px; text-decoration:none;">Dashboard</a>

<a href="/logout" style="color:white; margin:10px; text-decoration:none;">Logout</a>

</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html>


